.broccoli-pic {
    border: dotted 3px black;
    border-radius: 50%;
}

h1 {
    border: solid purple 4px;
    border-radius: 10px;
    margin: 40px;
    align-text: center;
}

h2 {
    border: solid red 3px;
    border-radius:10px;
    margin: 30px;
    align-text: center;
}

ul {
    border: solid purple 4px;
    border-radius: 10px;
    margin: 40px;
    align-text: center;
}
