.main-pic {
    border:ridge 15px white;
    border-radius:50%;
}

h1 {
    margin:10px;
    align-content:center;
    padding:10px;
    display:inline-block;
    color:white;
    font-size:5em;
}

h2 {
    margin:10px;
    align-content:center;
    padding:10px;
    color:white;
    font-size:2.5em;
}

p {
    border:solid white 4px;
    border-radius:10px;
    margin:10px;
    align-content:center;
    padding:20px;
    color:white;
    font-size:2em;
}

body {
  background-color:black; 
  display:flex;
}

.content {
  display:inline-flex;
  flex-direction:column;
}



