.main-pic {
    border:solid 1rem lightblue;
    border-radius:50%;
}

h1 {
    margin:10px;
    align-content:center;
    padding:10px;
    display:inline-block;
    color:grey;
    font-size:5em;
}

h2 {
    margin:10px;
    align-content:center;
    padding:10px;
    color:grey;
    font-size:2.5em;
}

h3 {
    border:solid lightblue 1rem;
    border-radius:10px;
    margin:10px;
    align-content:center;
    padding:20px;
    color:grey;
    font-size:2em;
    margin-top:100px;
    margin-left:90px;
    margin-right:90px;
}

h4 {
    border:solid lightblue 1rem;
    border-radius:10px;
    margin:10px;
    align-content:center;
    padding:20px;
    color:grey;
    font-size:2em;
    margin-top:90px;
    margin-left:90px;
    margin-right:90px;
}


body {
  background-color:white; 
  display:flex;
  height:100%;
}

.content {
  display:inline-flex;
  flex-direction:column;
}



